@import url("tokudae.css");

/* {{body=============================================================== */

body {
    background-color: var(--gruvbox-bg);
    color: var(--gruvbox-fg);
    font-family: var(--fonts);
    text-align: justify;
    line-height: 1.25;
    margin: 16px auto;
    padding: 32px;
    max-width: 70em;
    width: 90%;
}

/* }{h(eadings) + code================================================== */

h1, h2, h3, h4 {
    color: var(--gruvbox-yellow);
    font-family: var(--fonts);
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

h1 {
    font-size: 28pt ;
}

h2:before {
    content: "\2756";
    padding-right: 0.5em;
    font-family: var(--fonts);
    color: var(--gruvbox-yellow);
}

h3 code {
    color: #fabd2f ;
    font-family: var(--fonts);
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 14pt;
}

/* }{span=============================================================== */

span {
    font-size: small;
    text-align: left;
    display: block;
    margin-top: 0.25em;
}

span.apii {
    color: var(--gruvbox-orange);
    float: right;
    font-family: inherit;
    font-style: normal;
    font-size: 10pt;
}

/* }{pre(sentation)===================================================== */

pre {
    font-size: 12pt ;
}

/* }{code=============================================================== */

code {
    color: var(--gruvbox-green);
    font-style: italic ;
    font-size: 11pt ;
}

/* }{a(nchor) + code==================================================== */

a { text-decoration: none ; }

a:link,
a:link code {
    color: var(--gruvbox-blue);
    text-decoration: underline;
}

a:visited,
a:visited code {
    color: var(--gruvbox-purple);
}

a:hover,
a:hover code {
    color: var(--gruvbox-yellow);
    text-decoration: none;
}

a:active,
a:active code {
    color: var(--gruvbox-yellow);
}

/* }}=================================================================== */
