/* {{html=============================================================== */

html {
    --gruvbox-bg-dark:  #1c1c1c;
    --gruvbox-bg:       #282828;
    --gruvbox-fg:       #ebdbb2;
    --gruvbox-blue:     #83a598;
    --gruvbox-purple:   #d3869b;
    --gruvbox-yellow:   #fabd2f;
    --gruvbox-orange:   #fe8019;
    --gruvbox-green:    #8ec07c;

    --fonts: "DejaVu Sans", Helvetica, Arial, sans-serif;

    background-color: var(--gruvbox-bg-dark);
}

/* }{details + summary================================================== */

details.example > summary {
    cursor: pointer;
    font-weight: 400;
    list-style: none;
    color: var(--gruvbox-green); 
}

details.example > details {
    margin-top: 5px;
}

details.example > summary::-webkit-details-marker { /* safari */
    display: none;
}

details.example > summary::before {
    content: ">";
    display: inline-block;
    margin-right: .5rem;
    transition: transform .2s ease;
}

details.example[open] > summary::before {
    transform: rotate(90deg);
}

details.example pre {
    overflow: auto;
    margin: .5rem 0 0;
    padding: .75rem;
    background: var(--gruvbox-bg-dark);
    color: var(--gruvbox-fg);
}

/* }{footer============================================================= */

.footer {
    color: gray ;
    font-size: x-small ;
    text-transform: lowercase ;
}

div.menubar {
    padding-bottom: 0.5em;
}

/* }{p(aragraph) + menubar ============================================ */

p.menubar {
    margin-left: 2.5em;
}

.menubar a:hover {
    margin: -3px -3px -3px -3px;
    padding: 3px  3px  3px  3px;
    border-radius: 4px;
}

/* }}=================================================================== */
